<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.codingdemos.flowers">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <!-- INTERNET PERMISSION TO ACCESS INTERNET -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- INTERNET PERMISSION TO ACCESS INTERNET -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- PERMISSION TO MAKE A CALL -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- PERMISSION TO READ AND MEDIA FILES IN DEVICE STORAGE -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission
        android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <permission
        android:name="net.learn2develop.googlemaps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.codingdemos.vacapedia.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.codingdemos.vacapedia.DetailActivity" />
        <activity android:name="com.codingdemos.vacapedia.NotesActivity" />
        <activity android:name="com.codingdemos.vacapedia.NoteActivity" />
        <activity android:name="com.codingdemos.vacapedia.NotificationsActivity" />
        <activity android:name="com.codingdemos.vacapedia.AddNoteActivity" />
        <activity android:name="com.codingdemos.vacapedia.EditNoteActivity" />
        <activity android:name="com.codingdemos.vacapedia.AddDestinationActivity" />
        <activity android:name="com.codingdemos.vacapedia.EditDestinationActivity" />
        <activity android:name="com.codingdemos.vacapedia.AddSlideActivity" />
        <activity android:name="com.codingdemos.vacapedia.EditSlideActivity" />
        <activity android:name="com.codingdemos.vacapedia.AddPromoActivity" />
        <activity android:name="com.codingdemos.vacapedia.EditPromoActivity" />
        <activity android:name="com.codingdemos.vacapedia.ListSlidesActivity" />
        <activity android:name="com.codingdemos.vacapedia.ListPromosActivity" />
    </application>

</manifest>